<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b5c57f8a6b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main_template_css.css"> 
    <title>Tu Sitio Web</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">SafeScan</a>
        </div>
        <div class="opciones">
            <div class="login">
                <a href="#">Login</a><i class="fa-solid fa-user" class="iconousuario"></i>
            </div>
            <div class="links">
                <a href="#">Home</a>
                <a href="#">About us</a>
                <a href="#">Support</a>
                <a href="#">Download</a>
            </div>
        </div>
    </header>

    <!-- Contenido de la página aquí -->

    <footer>
        <table>
            <tr>
                <td><p>&copy;SafeScan. All rights reserved</p></td>
                <td class="github"><a href="#"><i class="fa-brands fa-github"></i>  GitHub</a></td>
            </tr>
        </table>
    </footer>
</body>
</html>
